.container {
    position: absolute;
    top: 10%;
    left: 20%;
}   

.nav-link{
    color: rgb(122, 101, 29);
}

.inputSection{
    left: 200px;
}

.search{
    width: 600px !important;
}

.card-img-top {
    max-height: 270px;
}

.productSection {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.bi-search {
    margin-bottom: 3px;
}